.body{
    display: grid;
    justify-content: center;
    background: #000;
    align-items: center;
    
}

.text{
    color: aqua;

}

.input{
    width: 230px;
    margin-left: 200px;
    height: 30px;

}

.calculator{
    width: 238px;
    background-color: rgb(55, 62, 67);
    margin-left: 200px;
    height: 220px;


}

.btn{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: 3px;
    background-color: chartreuse;
}

.btn:hover{
    transform: scale(1.1);
}

.operator{
    
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: 3px;
    background-color: chartreuse;
}